node_modules
artifacts
cache
coverage
hardhat.config.js

# "lint-staged": {
#     "*.js": [
#       "npm run format",
#       "npm run lint"
#     ]
#   }

# add these script 
#   "lint": "eslint .",
#   "format": "prettier *.js --write",
#   "prepare": "husky install",
#   "prepare:commit": "lint-staged"